$font-stack: Arial, sans-serif;
$primary-color: #2699FB;
$case-color: #BCE0FD;
$bg-color: #F1F9FF;
$bg2-color: #fff;
$base-font-size: 14px;
$base-line-height: 16px;

//$fa-font-path: "../../../../node_modules/font-awesome/fonts";
//@import '~font-awesome/scss/font-awesome.scss';

.btn-circle {
  background-color: $primary-color;
  width: 90px;
  height: 90px;
  padding: 6px 0;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
