/* You can add global styles to this file, and also import other style files */
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f9ff;
}
body::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 1px;

  background-color: rgba(132, 198, 252, 0.466);
  transition: 0.6s ease-in-out;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(38, 152, 251, 0.685);
}
