@import '../../../common/theme';

table {
  border: 1px solid $case-color;
  font-size: 20px;
  color: $primary-color;
    
  tbody tr th, td {
    padding: 20px 0;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  tbody td {
    padding: 20px 15px;
    &:before {
        display: inline;
        position: absolute;
        right: 300px;
        left: 0;
        color: $case-color;
        font-weight: 100;
        content: "|";
      }
  }
  
  tbody tr:nth-child(even) { background: $bg-color }
  tbody tr:nth-child(odd) { background: #FFF }
}
