$font-stack: Arial, sans-serif;
$primary-color: #2699FB;
$case-color: #BCE0FD;
$bg-color: #F1F9FF;
$bg2-color: #fff;
$base-font-size: 14px;
$base-line-height: 16px;

table {
  border: 1px solid $case-color;
  font-size: 20px;
  color: $primary-color;
    
  tbody tr th, td {
    padding: 20px 0;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  
  tbody td {
    padding: 20px 15px;
    &:before {
        display: inline;
        position: absolute;
        right: 300px;
        left: 0;
        color: $case-color;
        font-weight: 100px;
        content: "|";
      }
  }
  
  tbody tr:nth-child(even) { background: $bg-color }
  tbody tr:nth-child(odd) { background: #FFF }
}