@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

@import "../../common/theme";

p {
  margin: 0;
  padding: 0;
}

a {
  border: 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  color: $bg2-color;
  background-color: rgba(38, 152, 251, 0.918) !important;
  padding: 0 10px !important;
  .navbar-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 100%;
    & div:first-child {
      justify-content: flex-start;
      margin-right: 20px;
    }
  }
  .navbar-item {
    min-height: 100%;
    display: flex;
    align-items: center;
    &__btn-menu {
      display: flex;
      align-items: center;
      width: 4vmin;
      @include media-breakpoint-up(md) {
        width: 3vmin;
      }
    }
    &__logo {
      display: flex;
      align-items: center;
      width: 20vmin;
    }
  }
  img {
    height: auto;
    max-width: 100%;
  }
}
.burger-menu {
  position: absolute;
  top: 69px;
  left: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 100vh;
  background-color: $primary-color;
  z-index: 2;
  transition: all 0.5s;
  padding-bottom: 100px;
  @include media-breakpoint-up(lg) {
    width: 300px;
  }
  &__list {
    width: 100%;
    padding: 30px 20px 0 40px;
    list-style-type: none;
    @include media-breakpoint-up(md) {
      padding: 95px 20px 0 40px;
    }
  }
  &__item {
    display: flex;
    padding-top: 30px;
    a {
      font: 12px $font-stack;
      text-transform: uppercase;
      font-weight: normal;
      width: 100%;
      color: $bg2-color;
      margin: 0;
      @include media-breakpoint-up(lg) {
        font: $base-font-size $font-stack;
      }
    }
    &:active,
    &:focus,
    &:hover {
      border-bottom: 1px solid $bg2-color;
      margin-bottom: -1px;
    }
  }
}

.burger-menu.active {
  left: -15px;
}
.current {
  border-bottom: 1px solid $bg2-color;
  margin-bottom: -1px;
}
