$textColor: #ffff;

p {
    margin: 0;
    padding: 0;
}

a {
    line-height: 45px;
    margin-right: 28px;
    border:0;
    text-decoration:none;
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
    color: $textColor;
    background-color: rgba(38, 152, 251, 0.918)!important;
}
.hide-menu {
    position: absolute;
    top: 57px;
    left: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 220px;
    height: 100vh;
    background-color: #2699FB;
    z-index: 2;
    transition: all .3s linear;
    &__list {
        width: 100%;
        padding: 95px 20px 0 40px;
        list-style-type: none;
    }
    &__item { 
        padding-top: 30px;
        cursor: pointer;
        a {
            font: 10px Arial, sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            width: 100%;
            color: $textColor;
        }
        &:active, &:focus, &:hover {
            border-bottom: 1px solid $textColor;
            margin-bottom:-1px;
        }
    }
}
.user-info {
    width: 100%;
}

.active {
    left: -15px;
}
.current {
    border-bottom: 1px solid $textColor;
    margin-bottom:-1px;
}
