@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";


$textColor: #ffff;
$primary-color: #2699FB;
$case-color: #BCE0FD;
$bg-color: #F1F9FF;


p {
  margin: 0;
  padding: 0;
}

a {
  line-height: 45px;
  margin-right: 28px;
  border:0;
  text-decoration:none;
}

nav {
  display: flex;
  align-items: center;
  height: 70px;
  color: $textColor;
  background-color: rgba(38, 152, 251, 0.918)!important;
  padding: 0 10px!important;
  .btn-menu {
    height: 15px;
    width: 15px;
    @include media-breakpoint-up(md) {
      height: 20px;
      width: 20px;
    }    
  }
  .logo {
    height: 20px;
    width: 70px;
    @include media-breakpoint-up(md) {
      height: auto;
      width: auto;
    }  
  }
}
.hide-menu {
  position: absolute;
  top: 57px;
  left: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 260px;
  height: 100vh;
  background-color: #2699FB;
  z-index: 2;
  transition: all .3s linear;
  @include media-breakpoint-up(lg) {
    width: 300px;
  }
  &__list {
    width: 100%;
    padding: 30px 20px 0 40px;
    list-style-type: none;
    @include media-breakpoint-up(md) {
      padding: 95px 20px 0 40px;
    } 
  }
  &__item { 
    display: flex;
    padding-top: 30px;
    a {
      font: 12px Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      width: 100%;
      color: $textColor;
      margin: 0;
      @include media-breakpoint-up(lg) {
        font: 14px Arial, sans-serif;
      }
    }
    &:active, &:focus, &:hover {
      border-bottom: 1px solid $textColor;
      margin-bottom:-1px;
    }
  }
}

.right-navbar {
  display: flex;
  padding-top: 15px; 
  width: 70%;
  @include media-breakpoint-up(md) {
    display: none;
  }
  &__btn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  &__name {
    font: normal 12px arial, sans-serif;
    color: $textColor;
  }
  &__avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  &__menu {
    margin-top: 10px!important;
    padding: 0;
    width: 230px;
    border-color: $case-color;
    border-radius: 1px;
  }
  &__item {
    font: normal 14px arial, sans-serif;
    color: $primary-color;
    padding: 17px;  
  }
}
.dropdown-menu li a:hover {
  background: $bg-color!important;
}
.dropdown-menu li a{
  position: relative;
}
.dropdown-menu li.current a::after {
  position: absolute;
  content: url('../../../assets/img/symbol_ok.svg');
  left: 190px;
}


.user-info {
  width: 100%;
  height: 100%;
}

.active {
  left: -15px;
}
.current {
  border-bottom: 1px solid $textColor;
  margin-bottom:-1px;
}

