@import '../../common/css/theme.form';

.entry-title {
  margin-bottom: 20px;
  font-size: $big-font-size;
  line-height: 1em;
  text-transform: uppercase;
}

.form-wrapper {
  position: relative;

  @media (max-width: 580px) {
    margin-bottom: 20px;
  }
}

.form-wrapper .form-row {
  margin-bottom: 10px;

  @media (max-width: 580px) {
    margin-bottom: 20px;
  }
}

.form-wrapper .form-row:first-child {
  display: grid;
  grid-template-columns: 1fr 160px;
  grid-column-gap: 10px;

  @media (max-width: 580px) {
    display: flex;

    .col {
      flex-basis: auto;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.form-wrapper .form-row:first-child > * {
  padding-left: 0;
  padding-right: 0;
}

::ng-deep .form-wrapper .filter-item-container .btn-group .btn.dropdown-toggle.filter-el,
::ng-deep .form-wrapper .filter-item-container .btn-group .dropdown-menu.filter-el {
  border-color: $border-color;
}

.form-wrapper a,
.form-wrapper a:hover,
.form-wrapper a:active {
  color: $primary-color;
  text-decoration: none;
}

.form-wrapper a {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $primary-color;
    content: "";
  }
}

.form-wrapper a:hover,
.form-wrapper a:active {

  &:before {
    background: transparent;
  }
}

.pos-absolute {
  position: absolute;
  z-index: 100;
}

.hide-form {
  opacity: 0;
}
