<div class="row form-wrapper">
  <div class="container-fluid">
    <div class="row">
      <h2 class="entry-title">Create issue</h2>
    </div>
    <div class="row" *ngIf="isSuccessfullyDeleted === true">
      <p>(your message was successfully deleted)</p>
    </div>
  </div>
  <div class="container-fluid" *ngIf="haveServerError === true">
    <div class="row">
      <div class="alert alert-danger">
        <h5>Sorry, we have some problems</h5>
        <p>Error {{ serverErrorMessage.name }}: {{ serverErrorMessage.statusText }}</p>
        <span>{{ serverErrorMessage.message }}</span>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="taskIsJustSend === true">
    <div class="row">
      <span class="pos-absolute">Your issue is already send. <a href="#" on-click="onDelete($event)">Undo?</a></span>
    </div>
  </div>
  <form class="container-fluid hide-{{ taskIsJustSend }}" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div class="row form-row">
      <div class="col">
        <label for="taskName">Theme name</label>
        <input type="text" name="taskName" formControlName="taskName" id="taskName" required minlength="5" maxlength="20" placeholder="Theme name" value=""/>
        <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="info-message">
          <div *ngIf="taskName.errors.required" class="alert alert-danger visible-temporarily">
            Task name is required.
          </div>
          <div *ngIf="taskName.errors.minlength" class="alert alert-danger visible-temporarily">
            Task name must be at least 5 characters long.
          </div>
          <div *ngIf="taskName.errors.maxlength" class="alert alert-danger visible-temporarily">
            Task name must be less 20 characters long.
          </div>
        </div>
      </div>
      <div class="col">
        <label>Status</label>
        <app-dropdown-filter class="filter-item-container"
                             [cssClassName]="dropDownCssClassName" [filterItem]="theFilter"
                             (filterVal)="getFilterVal(theFilter.id, $event)"></app-dropdown-filter>
      </div>
    </div>
    <div class="row form-row">
      <input type="text" name="taskSummary" formControlName="taskSummary" id="taskSummary" required minlength="9" maxlength="40" placeholder="Summary message" value="" />
      <div *ngIf="taskSummary.invalid && (taskSummary.dirty || taskSummary.touched)" class="info-message">
        <div *ngIf="taskSummary.errors.required" class="alert alert-danger visible-temporarily">
          Task name is required.
        </div>
        <div *ngIf="taskSummary.errors.minlength" class="alert alert-danger visible-temporarily">
          Task name must be at least 9 characters long.
        </div>
        <div *ngIf="taskSummary.errors.maxlength" class="alert alert-danger visible-temporarily">
          Task name must be less 40 characters long.
        </div>
      </div>
    </div>
    <div class="row form-row">
      <textarea name="taskDescription" formControlName="taskDescription" maxlength="400" id="taskDescription" class="textarea-field" placeholder="Task description"></textarea>
      <div *ngIf="taskDescription.invalid && (taskDescription.dirty || taskDescription.touched)" class="info-message">
        <span *ngIf="taskDescription.errors.maxlength" class="alert alert-danger visible-temporarily">
          Task name must be less 400 characters long.
        </span>
      </div>
    </div>
    <div class="row form-row">
      <input type="submit" value="Send Issue" class="ml-auto" [disabled]="!addTaskForm.valid"/>
    </div>
  </form>
</div>
