<div *ngIf="modalType === 'RE-ASSIGNE'" class="re-assign">
  <button type="button" class="btn btn-outline-primary text-reassign" (click)="openModal(template, $event)">
    RE-ASSIGN
  </button>
</div>
<div *ngIf="modalType === 'CREATE'">
  <button type="button" class="btn btn-circle" (click)="openModal(template, $event)">
    <img src="assets/img/plus-to-add-button.svg" alt="plus on add button">
  </button>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">CREATE TASK</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form [formGroup]="modalForm" (ngSubmit)="onSubmit($event)">
    <div class="modal-grid">
      <div class="name-grid">
        <input class="no-visible" type="text" value="{{task.id}}" name="id">
        <input class="form-control" type="text" name="name" value="{{task.name}}" formControlName="name" placeholder="Task name">
      </div>
      <div class="filter-grid">
        <app-dropdown-filter class="filter-item-container"
                       [filterItem]="theFilter"
                       (filterVal)="sendFilterVal(theFilter.id, $event)"></app-dropdown-filter>
      </div>
      <div class="btn-group assign-grid">
        <select class="form-control" name="assignTo" formControlName="assignTo">
          <option selected hidden>Choose here</option>
          <option *ngFor="let user of users; trackBy: TrackElement" [value]="user._id" > {{ user.firstName }} {{ user.lastName }} </option>
        </select>
      </div>
      <div class=" btn-group date-grid">
        <input type="text" disabled value="{{ task.date }}" class="form-control" name="date" placeholder="{{newDate}}">
      </div>
      <div class="excerpt-grid">
        <input type="text" class="form-control" value="{{ task.excerpt }}" name="excerpt" formControlName="excerpt" placeholder="Summary message">
      </div>
      <div class="text-grid">
        <textarea class="form-control" aria-label="With textarea" value="{{task.content}}" name="content" formControlName="content"></textarea>
      </div>
      <div *ngIf="modalType === 'RE-ASSIGNE'" class="fromName-grid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">FROM</span>
          </div>
          <input type="text" disabled placeholder="{{task.author.firstName}} {{task.author.lastName}}" class="form-control" name="author">
        </div>
      </div>
      <div *ngIf="modalType === 'RE-ASSIGNE'" class="reassignFrom-grid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">RE-ASSIGN FROM</span>
          </div>
          <input type="hidden" class="form-control" placeholder="{{user.firstName}} {{user.lastName}}" formControlName="reassigned" >
          <input type="text" disabled class="form-control" placeholder="{{user.firstName}} {{user.lastName}}">
        </div>
      </div>
      <div class="addTask-grid">
        <button type="submit" (click)="modalRef.hide()" class="btn btn-primary">ADD TASK</button>
      </div>
    </div>
  </form>
  </div>
</ng-template>
