<div class="re-assign">
<button type="button" class="btn btn-outline-primary text-reassign" (click)="openModal(template)">RE-ASSIGN</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">CREATE TASK</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form [formGroup]="modalForm" (submit)="onSubmit(tasks)">
    <div class="modal-grid">
      <div class="name-grid">
        <input class="no-visible" type="text" value="{{tasks.id}}" name="id">
        <input class="form-control" type="text" name="name" value="{{tasks.name}}" formControlName="name" #name>
      </div>
      <div class="filter-grid">
        <select class="form-control" name="status">
          <option>LOW</option>
          <option>NORMAL</option>
          <option>HIGH</option>
        </select>
      </div>
      <div class="btn-group assign-grid" dropdown>
        <button type="button" dropdownToggle class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Assign To
        </button>
        <div *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </div>
      <div class=" btn-group date-grid">
        <input type="text" disabled value="{{ tasks.date }}" class="btn btn-outline-primary" name="date">
      </div>
      <div class="text-grid">
        <textarea class="form-control" aria-label="With textarea" value="{{tasks.content}}" name="content" formControlName="content" #content></textarea>
      </div>
      <div class="fromName-grid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">FROM</span>
          </div>
          <input type="text" disabled placeholder="{{tasks.author}}" class="form-control" name="author">
        </div>
      </div>
      <div class="reassignFrom-grid">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">REASSIGN FROM</span>
          </div>
          <input type="text" disabled class="form-control" placeholder="ownerID" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="addTask-grid">
        <button type="submit" class="btn btn-primary">ADD TASK</button>
      </div>
    </div>
  </form>
  </div>
</ng-template>
</div>