@import '../../common/css/theme';

.text-reassign {
  font-size: 11px;
  font-weight: bold;
}

::ng-deep .modal-content {
  background-color: $bg-color;
  border-radius: 0;
  color: $primary-color;
  font-family: $font-stack;
}

::ng-deep .modal-content {
  border: none;
}

.modal-header {
  border-bottom: none;
}

.re-assign {
  margin-left: 20%;
}

.btn-circle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: $primary-color;
}

.modal-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.name-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.excerpt-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
.text-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.fromName-grid{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.reassignFrom-grid {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}

.addTask-grid {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-left: 34px;
}

.no-visible{
  display: none;
}
.name-grid input,
.filter-grid select,
.assign-grid button,
.date-grid input,
.text-grid textarea {
  height: 50px;
  border: $case-color 1px solid;
  border-radius: 0;
  background-color: $bg2-color;
  width: 100%;
  font-size: $base-font-size;
  text-align: left;
}

.filter-grid select option{
  margin: 30px;
}

.input-group-prepend,
.form-control {
  height: 50px;
  border-radius: 0;
  background-color: #fff;
  color: $primary-color;
  border: $case-color solid 1px;
  float: left;
  font-size: 14px;
}

.input-group-prepend span{
  width: 138px;
  background-color: $case-color;
  border-radius: 0;
  color: $primary-color;
  font-size: 12px;
  font-weight: bold;
  border:none;
}

.name-grid input::placeholder,
.date-grid input::placeholder {
  color: $primary-color;
}

.fromName-grid input::placeholder,
.reassignFrom-grid input::placeholder {
  color: $case-color;
  font-size: $base-font-size;
}

.text-grid textarea {
  height: 120px;
}

.addTask-grid button {
  font-size: 12px;
  height: 50px;
  border-radius: 0;
  padding-left: 28px;
  padding-right: 28px;
}

.dropdown-item{
  color: $primary-color;
  font-size: $base-font-size;
}

.btn-outline-primary:hover {
  color: $primary-color;
}

.dropdown-toggle::after {
  position: absolute;
  display: block;
  right: 20px;
  top: 17px;
  width: 16px;
  height: 16px;
  border: 0;
  background: url('../../../assets/img/arrow_down.svg') center center no-repeat;
}

.dropdown-toggle[aria-expanded='true']::after{
  background: url('../../../assets/img/arrow_up.svg') center center no-repeat;
}

::ng-deep .modal-dialog {
  top: 30px;
}

.close {
  position: absolute;
  top: -25px;
  right: -25px;
  background-color: $bg2-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.close span {
  position: absolute;
  top: 5px;
  left: 11px;
  color: $border-color;
  font-size: 32px;
}

@media(max-width:610px) {
  .close {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
  }
}

.re-assign {
  float: right;
}

.re-assign button {
  border-radius: 0;
  padding: 15px;
}

.re-assign button:hover {
  background-color: $primary-color;
  border: $primary-color 1px solid;
  color: $bg2-color;
}