<main class="row ">
  <div class="col-lg-4 sidebar-wrapper">
    <app-create-update-side-bar-info #createUserComponent></app-create-update-side-bar-info>
  </div>
  <div class="col-lg-8 sidebar-wrapper">
    <app-create-update-user></app-create-update-user>
  </div>
</main>
<div class="row save-profile">
  <div class="col">
    <div class="alert alert-danger" *ngIf="notValidUser">Please, filled in all required fields</div>
    <div>
      <button class="save-button" (click)="extractUser(createUserComponent.newUser,
              createUserComponent.ifChosenDevelopmentDepartment,
              createUserComponent.ifChosenHrDepartment)">
        Save profile
      </button>
    </div>
  </div>
</div>