<div class="row main-user-info" *ngIf="user && id">
  <div class="col main-user-info">
    <h1>{{ getFullName() }}</h1>
    <p>{{ user.position }}</p>
  </div>
</div>
<div class="row additional-info" *ngIf="user">
  <div class="col-md-6 user-info">
    <form [formGroup]="profileForm">
      <div class="info-form">
        <div class="input-label"><label for="email">Email</label></div>
        <input formControlName="email" (blur)="updateMContact()" value="{{user.email}}" class="form-control" type="text"
          placeholder="Email" id='email' aria-label="Email">
      </div>

      <div class="info-form">
        <div class="input-label"><label for="phone">Phone</label></div>
        <input formControlName="phone" (blur)="updateMContact()" value="{{user.phone}}" class="form-control" type="text"
          placeholder="Phone" id='phone' aria-label="Phone">
      </div>
    </form>

    <div class="info-form" *ngFor="let contact of form_contacts.controls; let i = index">
      <form [formGroup]="contactsForm">
        <div formArrayName="form_contacts">
          <form [formGroup]="contact">
            <div class="input-label"><label for="name">{{contact.controls['contact_name'].value}}</label></div>
            <input formControlName="contact_value" (blur)="updateData()" value="contact_value" class="form-control"
              type="text" placeholder="contact login" id="contact_name">
          </form>
        </div>
      </form>
    </div>

    <app-additional-contacts (sendContacts)="getData($event)" *ngIf="id">
    </app-additional-contacts>
  </div>
  <app-create-update-date class="col-md-5 date-info"></app-create-update-date>
</div>

