<div class="create-user-bar-info">
  <div class="photo">
    <app-user-image></app-user-image>
  </div>
  <button>Update Image</button>
  <div class="input-group flex-wrap">
    <div>
      <label for="first-name">First Name</label>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Name" id = 'first-name' aria-label="Username">
    </div>
  </div>
  <div class="input-group flex-wrap">
    <div>
      <label for="last-name">First Name</label>
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Surname" id = 'last-name' aria-label="UserSurname" aria-describedby="addon-wrapping">
    </div>
  </div>
  <app-dropdown-info></app-dropdown-info>
</div>

<p>
  <!--create-side-bar-info works!-->
  {{ departments.name }}
</p>
