@import '../../../common/theme';

.create-user-bar-info {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 15px;
  color: $primary-color;
  font-family: $font-stack;

  .upload-image {
    display: flex;
    padding-bottom: 20px;
    .photo {
      flex: 2 70%;
      max-width: 160px;
    }
    .update-photo-button {
      padding: 10px;
      align-self: center;
      flex: 2 30%;
      height: 48px;
      border: none;
      background-color: $primary-color;
      color: white;
      text-transform: uppercase;
      line-height: normal;
      font-weight: bold;
      font-size: 12px;
    }
  }

  .info-form {
    padding: 10px 0 10px 0;
    .input-label {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px;
      label {
        margin-bottom: 0;
      }
    }

    .form-control {
      height: 50px;
      width: 100%;
      font-size: 16px;
      border-radius: 0;
      background-color: #fff;
      color: $primary-color;
      border: $case-color solid 1px;
    }

    ::placeholder {
      color: $primary-color;
    }
  }
}

//@media (max-width: 991px) {
//  @media (min-width: 600px) {
//    .row {
//      display: grid;
//      grid-column-gap: 20px;
//      grid-template-columns: repeat(2, 1fr);
//    }
//  }
//}
