<div class="create-user-bar-info">
  <div class="photo">
    <app-user-image></app-user-image>
  </div>
  <button>Update Image</button>
  <div class="fillInfo">
    <div class="input-group">
      <label for="first-name">First Name</label>
      <input type="text" class="form-control" placeholder="Name" id='first-name' aria-label="Username">
    </div>
    <div class="input-group">
      <label for="last-name">First Name</label>
      <input type="text" class="form-control" placeholder="Surname" id='last-name' aria-label="UserSurname"
             aria-describedby="addon-wrapping">
    </div>
    <div>
      <app-dropdown-info [pairList]='departmentsOptionPair' (selected)="retrieveSelected($event)"></app-dropdown-info>
    </div>
    <div>
      <app-dropdown-info disabled [pairList]='positions' ></app-dropdown-info>
    </div>
    <!--<div>-->
      <!--<app-dropdown-info [pairList]='departments'></app-dropdown-info>-->
    <!--</div>-->
    <!--<div>-->
      <!--<app-dropdown-info [pairList]='departments'></app-dropdown-info>-->
    <!--</div>-->

  </div>
</div>
