<div class="create-user-bar-info">
  <div class="upload-image">
    <app-user-image class="photo"></app-user-image>
    <button class="update-photo-button">Update Image</button>
  </div>
  <div class="fillInfo">
    <div class="info-form">
      <div class="input-label"><label for="first-name">First Name</label></div>
      <input class="form-control" type="text" placeholder="Name" id='first-name' aria-label="Username">
    </div>
    <div class="info-form">
      <div class="input-label"><label for="last-name">First Name</label></div>
      <input class="form-control" type="text" placeholder="Surname" id='last-name' aria-label="UserSurname"
             aria-describedby="addon-wrapping">
    </div>
    <div class="info-form">
      <div class="input-label"><label for="department">Department</label></div>
      <app-dropdown-info class="info-input-area" id="department" [pairList]='departmentsOptionPair'
                         (selected)="retrieveSelectedDepartment($event)">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label"><label for="position">Position</label></div>
      <app-dropdown-info class="info-input-area" id="position" disabled [pairList]='positions'
                         (selected)="retrieveSelectedPosition($event)">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label"><label for="teamLead">Teamlead</label></div>
      <app-dropdown-info class="info-input-area" id="teamLead" [pairList]='teamLeads'
                         (selected)="retrieveSelectedTeamleadId($event)">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label"><label for="role">Role</label></div>
      <app-dropdown-info class="info-input-area" id="role" [pairList]='roles'
      ></app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label"><label for="manager">Manager</label></div>
      <app-dropdown-info class="info-input-area" id="manager" [pairList]='managers'>

      </app-dropdown-info>
    </div>
  </div>
</div>
