<div class="wrapper">
  <div class="row list-dates">
    <div class="col-md-6 box font-weight-bold dates-topic">
      <div *ngIf ="typeOfUser">{{ date.firstName }} {{ date.lastName }}'s </div>
      <span>{{ date.topic }}</span>
      <span *ngIf="(convertDate(date.date))">TODAY</span>
    </div>
    <div class="col-md-3 box dates-icon">
      <img src="../../../../../assets/img/upcoming-dates.png" alt="all dates" class="dates__icon">
    </div>
    <div class="col-md-3 box dates-date">
      {{ date.date | date:"dd/MM/yy" }}
    </div>
  </div>
</div>
