@import '../common/css/theme';

.main-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form.container {
  padding: 30px;
}

.card {
  width: 432px;
  background: #F1F9FF;
  font-family: $font-stack;
  font-weight: bold;
  border-radius: 0;

  .card-title {
    padding: 30px 0 0 30px;
    color: $primary-color;
    font-size: 20px;
  }

  .card-home {
    padding-top: 0;
  }
}

label {
  font-size: 10px;
  color: $primary-color;
}

input {
  border: 1px solid $border-color;
  border-radius: 0;
}

.form-button {

 .login-button {
    width: 100%;
    position: relative;
    font-size: 12px;
    border-radius: 0;
    padding: 12px;
    cursor: pointer;
 }

 .forgotpsw-button {
   width: 100%;
   position: relative;
   background: $case-color;
   color: $primary-color;
   font-size: 12px;
   padding: 12px;
   border-radius: 0;
   cursor: pointer;
 }
}

.card {
  @media (max-width: 450px) {
    width: 368px;
  }
}
