$font-stack: Arial, Bold;
$primary-color: #2699FB;

.main-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background: #F1F9FF;
  font-family: $font-stack;

  .card-title {
    padding: 30px 180px 0 25px;
    color: $primary-color;
    font-size: 20px;
  }
}

label {
  font-size: 10px;
  color: $primary-color;
}

input {
  border: 1px solid #7FC4FD;
}

a {
  width: 117px;
  font-size: 12px;
  cursor: pointer;
}

