<div class="main-wrapper">
  <div class="card">
    <p class="card-title">LOGIN TO <span class="font-weight-bold">HRMS</span></p>
    <div ngClass="card-home">
      <form class="container" [formGroup]="frm" (ngSubmit)="auth(frm.value)">
        <div class="form-group">
          <label for="login">LOGIN:</label>
          <input class="form-control" formControlName="login" name="login">
        </div>
        <div class="alert alert-danger" *ngIf="frm.controls.login.invalid && frm.controls.login.value">
          <div *ngIf="frm.controls.login.errors.required">Login is required</div>
        </div>

        <div class="form-group">
          <label for="password">PASSWORD:</label>
          <input class="form-control" formControlName="password" type="password" name="password">
        </div>
        <div class="alert alert-danger" *ngIf="frm.controls.password.invalid && frm.controls.password.value">
          <div *ngIf="frm.controls.password.errors.required">Password is required</div>
          <div *ngIf="frm.controls.password.errors.minlength">Password must be at least 3 characters</div>
        </div>

        <div class="row form-button mt-4">
          <div class="col-7">
            <a [routerLink]="[ '/forgot-password' ]"
              class="btn btn-outline-primary forgotpsw-button font-weight-bold">FORGOT PASSWORD</a>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary text-white login-button font-weight-bold"
              [disabled] = "frm.controls.password.invalid || frm.controls.login.invalid">LOGIN</button>
          </div>
        </div>

        <div class="alert alert-danger mt-2" *ngIf="hasFailed && !frm.controls.password.invalid">
          Invalid login or password.
        </div>
      </form>
    </div>
  </div>
</div>