@import '../../../../common/css/theme';

.btn.dropdown-toggle.option-el {
  border-radius: 0;
  border-color: $case-color;
  color: $primary-color;
  background: $bg2-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
  height: 50px;
}

.btn-group {
  display: block;
}
.btn-group button {
  width:100%;
}
.dropdown-menu {
  position: relative;
  left: 0;
  right: auto;
  float: none;
  margin: -1px;
  top: 100%;
  bottom: auto;
  background-color: #fff;
  color: $primary-color;
  border: $case-color solid 1px;
  width: 101%;
}
.dropdown-item{
  margin: 5px;
  color: $primary-color;
  font-family: $font-stack;
  white-space: inherit;
  line-height: normal;
}
@media (max-width: 991px) {
  @media (min-width: 600px) {
    .dropdown-menu {
      position: absolute;
    }
  }
}


