$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

.col,
[class*="col-"],
.container-fluid,
.container,
.row {
  padding-right: 10px;
  padding-left: 10px;
}

.row{
  margin-right: -10px;
  margin-left: -10px;
}

$container-max-widths: (
        sm: 420px,
        md: 720px,
        lg: 1280px
);

$font-stack: Arial, sans-serif;
$primary-color: #2699FB;
$case-color: #BCE0FD;
$bg-color: #F1F9FF;
$bg2-color: #fff;
$base-font-size: 14px;
$base-line-height: 16px;

.filter-wrapper {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.filter-wrapper.filter-col-1,
.filter-wrapper.filter-col-2 {
  justify-content: flex-end;
}

.filter-wrapper.filter-col-3,
.filter-wrapper.filter-col-4,
.filter-wrapper.filter-col-5 {
  display: grid;
  grid-column-gap: $grid-gutter-width;
}

.filter-wrapper.filter-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.filter-wrapper.filter-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.filter-wrapper.filter-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.sidebar-wrapper{
  @media (max-width: 991px){
    margin-bottom: 40px;
  }
}

.filter-wrapper.filter-col-2 {
  @media (max-width: 760px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $grid-gutter-width;

    @media (max-width: 539px){
      display: block;
    }
  }
}

.container-fluid.header-navbar {
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 1000;
}
