@import '../../../common/css/theme';

.filter-wrapper {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.filter-wrapper.filter-col-1,
.filter-wrapper.filter-col-2 {
  justify-content: flex-end;
}

.filter-wrapper.filter-col-3,
.filter-wrapper.filter-col-4,
.filter-wrapper.filter-col-5 {
  display: grid;
  grid-column-gap: $grid-gutter-width;
}

.filter-wrapper.filter-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.filter-wrapper.filter-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.filter-wrapper.filter-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.sidebar-wrapper{
  @media (max-width: 991px){
    margin-bottom: 40px;
  }
}

.filter-wrapper.filter-col-1 {
  @media(max-width: 670px) {
    & > * {
      width: 100%;
    }
  }
}

.filter-wrapper.filter-col-2 {
  @media (max-width: 760px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $grid-gutter-width;

    @media (max-width: 539px){
      display: block;
    }
  }
}

.container-fluid.header-navbar {
  position: fixed;
  top: 0;
  padding: 0;
  z-index: 1000;
}

@media(max-width: 860px) {
  .filter-wrapper.filter-col-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }

  @media(max-width: 670px) {
    .filter-wrapper.filter-col-3 {
      grid-template-columns: 1fr;
    }
  }
}
