<div class="create-user-bar-info row" *ngIf="showModal">
  <div class="column w-100">
    <div class="upload-image">
      <app-user-image class="photo"></app-user-image>
      <button class="update-photo-button">Update Image</button>
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="first-name">First Name</label>
      </div>
      <input [(ngModel)]="user.firstName" class="form-control"
             type="text" placeholder="Name" id='first-name' aria-label="Username"
             [ngClass]="!user.firstName ? ['border-red'] : ['border-green']">
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="last-name">Last Name</label>
      </div>
      <input [(ngModel)]="user.lastName" class="form-control"
             type="text" placeholder="Surname" id='last-name' aria-label="UserSurname"
             aria-describedby="addon-wrapping"
             [ngClass]="!user.lastName ? ['border-red'] : ['border-green']">
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="department">Department</label>
      </div>
      <app-dropdown-info class="info-input-area" id="department"
                         [pairList]="departmentsOptionPair"
                         (selected)="selectDepartment($event)"
                         [update]="user.department ? user.department._id : user.department"
                         [required]="true">
      </app-dropdown-info>
    </div>
  </div>
  <div class="column w-100">
    <div class="info-form">
      <div class="input-label">
        <label for="position">Position</label>
        <div (click)="warningToChooseDepartmentFirst()">
          <span class="alert-danger"
                *ngIf="warningForChoosingDepartment">Choose department first
          </span>
        </div>
      </div>
      <app-dropdown-info class="info-input-area" id="position"
                         (click)="warningToChooseDepartmentFirst()"
                         [pairList]="positions"
                         (selected)="user.position = $event"
                         [required]="true"
                         [update]="user.position"
                         [positionIdentifier]="'position'">
      </app-dropdown-info>
    </div>
    <div class="info-form" *ngIf="ifChosenDevelopmentDepartment">
      <div class="input-label">
        <label for="teamLead">Teamlead</label>
      </div>
      <app-dropdown-info class="info-input-area" id="teamLead"
                         [pairList]="teamLeads"
                         (selected)="user.teamlead = $event"
                         [update]="user.teamlead ? user.teamlead._id : user.teamlead"
                         [required]="true">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="hr">HR</label>
      </div>
      <app-dropdown-info class="info-input-area" id="hr"
                         [pairList]="hrs"
                         (selected)="user.hr = $event"
                         [update]="user.hr"
                         [required]="true">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="manager">Manager</label>
      </div>
      <app-dropdown-info class="info-input-area" id="manager"
                         [pairList]="managers"
                         (selected)="user.manager = $event"
                         [update]="user.manager ? user.manager._id : user.manager"
                         [required]="true">
      </app-dropdown-info>
    </div>
    <div class="info-form">
      <div class="input-label">
        <label for="roles">Role</label>
      </div>
      <app-dropdown-info class="info-input-area" id="roles"
                         [roles]="true"
                         (selectedRoles)="user.roles = $event"
                         [updateRolesList]=user.roles
                         [positionIdentifier]="'roles'">
      </app-dropdown-info>
    </div>
  </div>
</div>
