@import '../../../common/css/theme.scss';

img {
  border-radius: 75%;
  width: 250px;
  padding-bottom: 5px;
  height: 250px;
  @media (max-width: 500px) {
    float: left;
  }
  @media (min-width: 501px) {
    padding-left: 10px;
  }
  @media (min-width: 992px) {
    width: 80%;
  }
}

.update-photo-button {
  margin-top: 3px;
  padding: 10px;
  align-self: center;
  flex: 2 30%;
  height: 48px;
  border: none;
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
  line-height: normal;
  font-weight: bold;
  font-size: 12px;
}
