<div class="main-wrapper">
  <div class="card">
    <p class="card-title"><span class="font-weight-bold">HRMS:</span>RESET PASSWORD</p>
    <div class="card-body">
      <form class="container" [formGroup]="frm">

        <div class="form-group">
          <label for="password">NEW PASSWORD</label>
          <input class="form-control" formControlName="password" type="password" name="password" #password>
          <div class="alert alert-danger" *ngIf="(frm.get('password').invalid && frm.get('password').touched)">
            <div>
              Please enter your password
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirm-password">CONFIRM PASSWORD</label>
          <input class="form-control" formControlName="confpassword" type="password" name="confirm-password" #confpassword>
          <div class="alert alert-danger" *ngIf="(frm.get('confpassword').invalid && frm.get('confpassword').touched)">
              Please confirm your password
          </div>
          <div class="alert alert-danger" *ngIf="this.matchFailed">
              Passwords must match
          </div>
          <div class="alert alert-success" *ngIf="this.resetSuccess">
              Password was successfully changed
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a class="btn btn-primary text-white save-button font-weight-bold" (click)="send(password.value, confpassword.value)">SAVE AND LOGIN</a>
        </div>

      </form>
    </div>
  </div>
</div>
