@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

@import "../../../common/css/theme";

.burger-menu {
  position: absolute;
  top: 69px;
  left: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 100vh;
  background-color: $primary-color;
  z-index: 3;
  transition: all 0.5s;
  padding: 30px 20px 100px 40px;
  @include media-breakpoint-up(lg) {
    padding: 95px 20px 100px 40px;
    width: 300px;
  }
  &__list {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    @include media-breakpoint-up(md) {
    }
  }
}

.burger-menu.active {
  left: -15px;
}
