@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

:host {
  display: flex;
  justify-content: flex-start;
  .item {
    height: 4vmin;
    width: 4vmin;
    margin-right: 50px;
    @include media-breakpoint-up(sm) {
      height: 3vmin;
      width: 3vmin;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 20px;
    }
  }
  .icon {
    height: auto;
    max-width: 100%;
  }
}
