@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

.wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 35px;
  &__item {
    height: 4vmin;
    width: 4vmin;
    margin: 25px;
    @include media-breakpoint-up(sm) {
      height: 3vmin;
      width: 3vmin;
    }
    @include media-breakpoint-up(lg) {
      margin: 10px;
    }
  }
  &__img {
    height: auto;
    max-width: 100%;
  }
}
