@import "../../common/css/theme";
@import "../../common/css/theme.form";

.text-comment {
  font-size: 11px;
  border-radius: 0;
  font-weight: bold;
  padding: 15px;
  height: 48px;
  border-color: $case-color;
  color: $primary-color;
}

.close {
  position: absolute;
  top: -25px;
  right: -25px;
  background-color: $bg2-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  opacity: 1;
  border: 0;
  text-align: center;
}

.close:focus {
  outline: 0;
}

.close span {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  color: $border-color;
  font-size: 32px;
  line-height: 16px;
}

.close:not(:disabled):not(.disabled):hover {
  background: $primary-color;
  opacity: 1;
}

.close:hover span {
  text-shadow: none;
}

@media(max-width:610px) {
  .close {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
  }
}
