<div class="user-info__wrapper">
  <div class="user-info__notifications">
    <img src="assets/img/navbar-notifications-mob.png" alt="notifications">
    <span>({{  notificationsNumber }})</span>
  </div>
  <div class="btn-group user-info__btn" dropdown>
    <a href="#" dropdownToggle>
      {{ name }} {{ surname }}
      <img src="{{ avatar }}" alt="avatar">
    </a>
    <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu" role="menu"
        aria-labelledby="button-disabled-item">
      <li role="menuitem" *ngFor="let link of menuRight; let i = index" [ngClass]="{'current': link.isCurrent}" (click)="changeCurrent(i, menuRight)">
        <a class="dropdown-item" href="{{link.href}}">{{link.title}}</a>
      </li>
    </ul>
  </div>
</div>
