<accordion [closeOthers]="oneAtATime">
  <accordion-group *ngFor="let item of items;" #group>
    <div accordion-heading class="heading-grid">
      <div class="heading-text">
        <h5>{{item.name}}</h5>
        <p class="excerpt">{{item.excerpt}}</p>
      </div>
      <div class="heading-filter">
        <p>{{item.status.name}}</p>
      </div>
      <div class="heading-date">
        <p>{{item.date}}</p>
      </div>
      <div class="heading-icon">
      </div>
    </div>
    <div class="body-text">
      <p>{{item.content}}</p>
    </div>
    <div class="body-grid">
      <div class="body-from">
        <span>From: </span>
        <span class="bold">{{item.author}}</span>
      </div>
      <div class="re-assign">
        <button type="submit" class="btn btn-outline-primary text-reassign">RE-ASSIGN</button>
      </div>
    </div>
  </accordion-group>
</accordion>
