$font-stack: Arial, sans-serif;
$primary-color: #2699FB;
$case-color: #BCE0FD;
$bg-color: #F1F9FF;
$bg2-color: #fff;
$base-font-size: 14px;
$base-line-height: 16px;

.btn-group.width-100 {
  width: 100%;
}

.btn.dropdown-toggle.filter-el{
  padding: 17px 56px 17px 20px;
  border-radius: 0;
  border-color: $case-color;
  color: $primary-color;
  background: $bg2-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: left;
}

.btn-group.width-100 .btn.dropdown-toggle.filter-el {
  width: 100%;
  text-align: left;
}

.btn.dropdown-toggle.filter-el:focus,
.btn.dropdown-toggle.filter-el:active{
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle.filter-el::after{
  position: absolute;
  display: block;
  right: 20px;
  top: 17px;
  width: 16px;
  height: 16px;
  border: 0;
  background: url('../../../../assets/img/arrow_down.svg') center center no-repeat;
}

.dropdown-toggle.filter-el[aria-expanded='true']::after{
  background: url('../../../../assets/img/arrow_up.svg') center center no-repeat;
}

.dropdown-menu.filter-el{
  margin: -1px 0 0 0;
  padding: 0;
  border-radius: 0;
  border-color: $case-color;
  color: $primary-color;
  background: $bg2-color;
}

.btn-group.width-100 .dropdown-menu.filter-el{
  width: 100%;
}

.dropdown-menu.filter-el li{
  padding: 0;
}

.dropdown-menu.filter-el li a{
  position: relative;
  padding: 17px 56px 17px 20px;
  color: $primary-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.dropdown-menu.filter-el li a:hover{
  background: $bg-color;
}

.dropdown-menu.filter-el li a:active,
.dropdown-menu.filter-el li a.active:active,
.dropdown-menu.filter-el li a.active{
  background: $bg-color;
}

.dropdown-menu.filter-el li a.active:after{
  position: absolute;
  display: block;
  right: 20px;
  top: 17px;
  width: 16px;
  height: 16px;
  background: url('../../../../assets/img/symbol_ok.svg') center center no-repeat;
  background-size: contain;
  content: "";
}
