<div class="btn-group" dropdown placement="bottom right">
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary
  dropdown-toggle option-el"
          aria-controls="dropdown-basic">
    Choose <span class="caret"></span>
  </button>
  <ul id="dropdown-basic top" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" (click)="selectedElement($event)">
    <li role="menuitem">
      <a *ngFor="let pair of pairList" class="dropdown-item" href="#" (click)="selectIt($event)">> {{pair.name}}</a>
    </li>
  </ul>
</div>

