<div class="main-wrapper">
	<div class="card">
    <p class="card-title"><span class="font-weight-bold">HRMS: </span>FORGOT PASSWORD</p>
    <div class="card-body">
      <form [formGroup]="frm" (ngSubmit)="send(frm.value)">
        <div class="form-group">
          <label for="email" class="font-weight-bold">EMAIL</label>
          <input class="form-control" formControlName="email" name="email">
        </div>
        <div class="row form-button mt-4">
          <div class="col-7">
            <a [routerLink]="[ '/home' ]" class="btn btn-outline-primary backto-button font-weight-bold"><span class="svg-icon mr-2"></span>BACK TO LOGIN</a>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary text-white send-button font-weight-bold">SEND</button>
          </div>
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasFailed">
          {{ error }}
        </div>
        <div class="alert alert-success mt-2" *ngIf="getResponse">
          {{ message.msg }}
        </div>
      </form>
    </div>
  </div>
</div>
