<div class="main-wrapper">
  <div class="card">
    <p class="card-title"><span class="font-weight-bold">HRMS: </span>FORGOT PASSWORD</p>
    <div ngClass="card-home">
      <form [formGroup]="frm" (ngSubmit)="send(frm.value)">
        <div class="form-group">
          <label for="email" class="font-weight-bold">EMAIL</label>
          <input class="form-control" type="email" formControlName="email" name="email" email="true">
        </div>
        <div class="alert alert-danger" *ngIf="frm.controls.email.invalid && frm.controls.email.value">
          <div *ngIf="frm.controls.email.errors.required">Email is required</div>
          <div *ngIf="frm.controls.email.errors.email">Email must be a valid email address</div>
        </div>
        <div class="row form-button mt-4">
          <div class="col-7">
            <a [routerLink]="[ '/home' ]" class="btn btn-outline-primary backto-button font-weight-bold"><span
                class="svg-icon mr-2"></span>BACK TO LOGIN</a>
          </div>
          <div class="col-5">
            <button type="submit" class="btn btn-primary text-white send-button font-weight-bold"
              [disabled] = "frm.controls.email.invalid">SEND</button>
          </div>
        </div>
        <div class="alert alert-danger mt-2" *ngIf="hasFailed && !frm.controls.email.invalid">
          {{ error }}
        </div>
        <div class="alert alert-success mt-2" *ngIf="getResponse">
          {{ message.msg }}
        </div>
      </form>
    </div>
  </div>
</div>