<div class="main-wrapper">
	<div class="card">
    <p class="card-title"><span class="font-weight-bold">HRMS: </span>FORGOT PASSWORD</p>
    <div class="card-body">
      <form [formGroup]="frm">
        <div class="form-group">
          <label for="email" class="font-weight-bold">EMAIL</label>
          <input class="form-control" formControlName="email" name="email" #email>
        </div>
        <div class="row form-button mt-4">
          <div class="col-7">
            <a [routerLink]="[ '/home' ]" class="btn btn-outline-primary backto-button font-weight-bold"><span class="svg-icon mr-2"></span>BACK TO LOGIN</a>
          </div>
          <div class="col-5">
            <a class="btn btn-primary text-white send-button font-weight-bold" (click)="send(email.value)">SEND</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
