@import '../../../common/css/theme';

.main-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  padding: 30px;
}

.card {
  width: 432px;
  background: $bg-color;
  font-family: $font-stack;
  font-weight: bold;
  border-radius: 0;

  .card-title {
    padding: 30px 0 0 20px;
    color: $primary-color;
    font-size: 20px;
  }

  .card-home {
    padding-top: 0;
  }
}

label {
  font-size: 10px;
  color: $primary-color;
}

input {
  border: 1px solid $border-color;
  border-radius: 0;
}

.form-button {
 .send-button {
    width: 100%;
    position: relative;
    font-size: 12px;
    border-radius: 0;
    padding: 12px;
    cursor: pointer;
 }

 .backto-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    background: $case-color;
    color: $primary-color;
    font-size: 12px;
    padding: 12px;
    border-radius: 0;
    cursor: pointer;

     .svg-icon {
      background: url("../../../../assets/img/back-arrow.svg") no-repeat;
      background-size: contain;
      display: inline-block;
      font-weight: bold;
      height: 15px;
      width: 15px;
    }
 }
}

.card {
  @media (max-width: 450px) {
    width: 320px;
  }
}

