@import '../../../common/css/theme';
@import '../../../common/css/theme.form';

.additional-info {
  .form-info{
    width: 100%;
  }
  .add__icon {
    margin-right: 10px;
  }
  .delete__icon {
    cursor: pointer;
    margin: 16px 16px 16px 0px;
  }
  .date-form {
    width:100%;
    .second-button{
      margin-left: 45px;
    }
    .light-button {
      background-color: $case-color;
      border-color: $primary-color;
      color: $primary-color;
      text-transform: uppercase;
      font-weight: bold;
    }
    .info-form {
      padding: 10px 0 10px 0;

      .form-control {
        height: 50px;
        width: 100%;

      }
    }
    .input-label{
      margin-left: 10px;
    }
    .add-date {
      width: 100%;
      margin-bottom: 20px;
      .dropdown-contact {
        margin: 0;
        padding: 0;
      }
    }
    .date-topic {
      display: flex;
    }
    .date-topic {
      margin-bottom: 5px;
    }
  }
}


